@tailwind base;
@tailwind components;
@tailwind utilities;

.inset{
    border: 1px inset rgb(250, 219, 250);
    box-shadow: inset;
}

.modal{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    