@tailwind base;
@tailwind components;
@tailwind utilities;

.inset{
    border: 1px inset rgb(250, 219, 250);
    box-shadow: inset;
}

.modal{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
